@import "custom";
@import '../../node_modules/bulma/bulma.sass';

iframe {
  min-height: 80vh;
}

.blog-content {
  padding-top: 100px;
  margin: 25px auto;
}

.navbar-item img {
  max-height: 2.15rem;
  margin-top: 5px;
}

#skills-section {
  padding: 1rem;
}

.subtitle:not(:last-child) {
  margin-bottom: 5px;
}

.box {
  margin-top: -100px;
  margin-bottom: 75px;
}

// #proto-image{}
.shadowed {
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, .18);
}

.card {
  border-radius: 5px;
}

.button {
  border-radius: 0;
  border-width: 2px;
}

pre {
  // background-color: #33363b;
  // color: #3EADEA;
  border-radius: 5px;
}

.gatsby-highlight {
  margin: 25px 0;

}

.return-link {
  margin: 25px 0;
}

.content ul {
  list-style: none;
  margin-left: 0;
  margin-top: 1em;
}

li {
  border-top: 1px solid rgba(0, 0, 0, .125);
  padding: 5px;
}

#jumbo-bg {
  background-image: url("../images/funky-lines.png");
  background-repeat: repeat;
  margin-top: -55px !important;
  min-height: 115vh;
}

#lines-bg {
  background-image: url("../images/funky-lines.png");
  background-repeat: repeat;
}

#footer-bg {
  background-image: url("../images/cartographer.png");
  background-repeat: repeat;
}

.clearBG {
  background-color: transparent !important;
}

.half-highlight {
  background: linear-gradient(to top, #03a9f4 25%, transparent 25%);
}

.half-highlight-alt {
  background: linear-gradient(to top, #6A80C4 25%, transparent 25%);
}

.half-highlight-success {
  background: linear-gradient(to top, #00BE7C 25%, transparent 25%);
}


.contact-card {
  background-color: #ffffff !important;
}

.is-fixed-top {
  -webkit-animation: fadein .25s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .25s;
  /* Firefox < 16 */
  -ms-animation: fadein .25s;
  /* Internet Explorer */
  -o-animation: fadein .25s;
  /* Opera < 12.1 */
  animation: fadein .25s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1087px) {
  .blog-content {
    margin: 25px 15px;
  }
}

@media screen and (max-width: 768px) {
  #header-image {
    display: none;
  }
}