@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500|VT323');
html{
  background-color: #404040;
  font-size: 15px;
}
// font-family: 'VT323', monospace;
// font-family: 'Ubuntu', sans-serif;

.navbar-light .navbar-toggler{
  border: none;
  
}

.navbar-brand{
  margin-top: 0px;
  padding-top: 0px;
}
a {
  color: #48acf0;
 
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 2px;
  &:hover{
    text-decoration: none;
   
  }
}

.card{
  margin-bottom: 1em;
}
#lofiEcommerce{
  padding:0;
  
}
#lofi{
  background : linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
  url("../img/lofiwavegraffiti1.jpg");
   background-repeat: no-repeat;
   background-size: 100% 120%;
  min-height: 400px;
}

#aboutImage{
  background: url("../img/aboutImage.png");
  background-repeat: no-repeat;
  
  min-height: 100vh;
}
