// @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500|VT323');
html{
  background-color: #404040;
  font-size: 15px;
}

body{
  background-color: #f3f5ff;
}
// font-family: 'VT323', monospace;
// font-family: 'Ubuntu', sans-serif;

.navbar-light .navbar-toggler{
  border: none;

}

.navbar-brand{
  margin-top: 0px;
  padding-top: 0px;
}

a {
  color: #333;
}




#aboutImage{
  background: url("../img/aboutImage.png");
  background-repeat: no-repeat;

  min-height: 100vh;
}

hr{

    height: 5px;
    color: #333;
    background: #45BA82;
    border: none;
    max-width: 75px;
    margin: 10px 0px;
}

.card{
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-bottom: 1rem;
}

.social {
  color: #333;
  &:hover {
    color: #f7f7f7;
  }
}

 svg {
  margin-right: 10px;
 }

 .navbar-nav {
   display: flex;
   flex-direction: row;
 }

 .navbar-nav li {
  padding: .5rem;
  text-transform: uppercase;
  font-size: .9rem;

 }

 .hidden {
   display: none;
 }