@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500|VT323');
html{
  background-color: #404040;
  font-size: 15px;
}

body{
  background-color: #f3f5ff;
}
// font-family: 'VT323', monospace;
// font-family: 'Ubuntu', sans-serif;

.navbar-light .navbar-toggler{
  border: none;
  
}

.navbar-brand{
  margin-top: 0px;
  padding-top: 0px;
}
a {
  color: #48acf0;
 
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 2px;
  &:hover{
    text-decoration: none;
   
  }
}

.card{
  margin-bottom: 1em;
}
#lofiEcommerce{
  padding:0;
  
}
#lofi{
  background : linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
  url("../img/lofiwavegraffiti1.jpg");
   background-repeat: no-repeat;
   background-size: 100% 120%;
  min-height: 400px;
}

#aboutImage{
  background: url("../img/aboutImage.png");
  background-repeat: no-repeat;
  
  min-height: 100vh;
}

    hr{
        
        height: 5px;
        color: #333;
        background: #45BA82;
        border: none;
        max-width: 75px;
        margin: 10px 0px;
    }

     .card{
       background-color: #f6f6f6;
       color: #333;
       box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
 }